<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Flux Cloud Foundry Deployer</title>
		<link rel="stylesheet" th:href="@{/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Flux Cloud Foundry Deployer</a></h1>
		</div>
		
		<div id="leftNav">
			<h4><a th:href="@{/flux}">Flux</a></h4>
<!-- 			<div social:connected="flux">
				<ul class="menu">
					<li><a th:href="@{/flux}">User Profile</a></li>
					<li><a th:href="@{/flux/projects}">Projects</a></li>
				</ul>
			</div> -->
			<h4><a th:href="@{/cloudfoundry}">Cloud Foundry</a></h4>
			<h4><a th:href="@{/cloudfoundry/deploy}">Deploy</a></h4>
		</div>
		
		<div id="content" layout:fragment="content">
			Content goes here
		</div>		
	</body>
</html>
