form input {
	display: block;
}

form input[type=checkbox] {
	display: inline;
}

form input[type=radio] {
	display: inline;
}

span.error {
	color: #D8000C;
}

form > .project {
	font-size: large;
	color: white;
	background: black;
	padding: 5px;
}