<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Spring Social Showcase</title>
		<link rel="stylesheet" th:href="@{/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Flux Cloud Foundry Deployer</a></h1>
		</div>
		
		<div id="leftNav">
			Left nav menu
		</div>
		
		<div id="content" layout:fragment="content">
			<h1>Connected to CloudFoundry</h1>
			
			<dl>
				<dt>Email</dt>
					<dd th:text="${user}"></dd>
				<dt>Default Space</dt>
					<dd th:text="${defaultSpace}"></dd>
			</dl>
			
			<div class="error" th:if="${error_message}" th:text="${error_message}"></div>
			<div class="info" th:if="${info_message}" th:text="${info_message}"></div>

 			<form class="cfDeploy" action="deploy.do" method="post">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<div>
					<span class="label">Project:</span>
					<select name="project">
						<option th:each="project : ${projects}" th:value="${project}" th:text="${project}"/>
					</select>
					<span class="label">Space:</span>
					<select name="space">
						<option th:each="sp : ${spaces}" th:value="${sp}" th:text="${sp}" th:selected="${defaultSpace == sp}"/>
					</select>
				</div>
				<input type="submit" value="Push to Cloud Foundry"/>
			</form>
<!-- 				
			<table>
				<tr>
					<th>Flux Project</th>
					<th>CF Space</th>
					<th>Synch</th>
				</tr>
				
				<tr th:each="dep : ${deployments}">
					<td><a href="edit" th:href="@{'deploy/' + ${dep.fluxProjectName}}" th:text="${dep.fluxProjectName}"></a></td>
					<td th:if="${dep.cfSpace}" th:text="${dep.cfSpace}"></td>
					<td th:unless="${dep.cfSpace}">Not set</td>
					<td>
						<input class="checkbox" type="checkbox" disabled="disabled" th:checked="${dep.activated}" />
					</td>
				</tr>
			</table>
 -->
		</div>
	</body>
</html>
