<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Flux Cloud Foundry Deployer</title>
		<link rel="stylesheet" th:href="@{/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Flux Cloud Foundry Deployer</a></h1>
		</div>
		
		<div id="leftNav">
			Left nav menu
		</div>
		
		<div id="content" layout:fragment="content">
			<h3>You are connected to Flux</h3>
			
			<p>Signed in with <b>Github</b> profile <b th:text="${profile.login}">name</b></p>
			
			<p>Flux projects:</p>
			
			<ul class="projects">
				<li class="project" th:each="project : ${projects}">
					<b th:text="${project}">project name</b>
				</li>
			</ul>
		</div>
	</body>
</html>
